{% for version, version_data in results.items()|sort %}
  <details>
    <summary>
      <b><big>{{ version.name }}</big></b>
    </summary>
    <table>
      <tbody>
        {% for area, area_data in version_data["areas"].items()|sort(attribute="0.name") %}
          <tr>
            <th>{{ area.name }}</th>
            <th>Method</th>
            <th>Level</th>
            <th colspan="2">Rarity</th>
          </tr>
          {% for slot, slot_data in area_data["slots"].items()|sort(reverse=True, attribute="rarity")|sort(attribute="0.pokemon.species.order,0.pokemon.order,0.method,0.min_level,0.max_level") %}
            <tr>
              <td>{{ slot.pokemon.name }}</td>
              <td>{{ slot.method.prose }}</td>
              <td>
                L{{ slot.min_level }}
                {%- if slot.min_level < slot.max_level -%}
                  -{{ slot.max_level }}
                {% endif %}
              </td>
              <td{% if not slot.conditions %} colspan="2"{% endif %}>
                {{ slot_data["rarity"] }}%
              </td>
              {% if slot.conditions %}
                <td>
                  {% for condition in slot.conditions|sort %}
                    {{ condition.prose }}
                    {%- if not loop.last %}, {% endif %}
                  {% endfor %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </details>
{% endfor %}
