## SHOWDOWN_HOST: PS server that cerbottana will connect to.
SHOWDOWN_HOST=localhost

## SHOWDOWN_PORT: Port of SHOWDOWN_HOST.
SHOWDOWN_PORT=8000

## USERNAME: PS username.
USERNAME=mybot

## PASSWORD: PS password.
PASSWORD=mypassword

## AVATAR: PS avatar string.
# AVATAR=lucas

## STATUSTEXT: PS status text.
# STATUSTEXT=statustext

## ROOMS: List of rooms joined at startup (roomids separated by commas).
# ROOMS=lobby

## MAIN_ROOM: Room used by `.dashboard`.
MAIN_ROOM=lobby

## COMMAND_CHARACTER: Leading character (or string) that identifies commands directed
## at cerbottana. For example, if a user writes `~colorcompare a, b` the command
## character is ~
COMMAND_CHARACTER=.

## ADMINISTRATORS: List of users that have complete control on cerbottana (userids
## separated by commas). It's not required but you should include at least your
## own userid.
# ADMINISTRATORS=youruserid
