{% import 'htmlpages/utils.html' as utils with context %}

<h2>Pending profile descriptions</h2>
{% if rs %}
  <div class="ladder">
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Current description</th>
          <th>New description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in rs %}
          <tr>
            <td>{{ row.username }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.description_pending }}</td>
            <td style="width: 1px; white-space: nowrap">
              {% set cmd = "approvaprofilo " + row.id|string + "," + row.description_pending %}
              {% call utils.btn_sendpm(cmd) %}
                <i class="fa fa-check"></i>
                Approve
              {% endcall %}
              {% set cmd = "rifiutaprofilo " + row.id|string + "," + row.description_pending %}
              {% call utils.btn_sendpm(cmd) %}
                <i class="fa fa-times"></i>
                Reject
              {% endcall %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ utils.pagination("pendingdescriptions") }}
{% else %}
  No results found
{% endif %}
