{% import 'htmlpages/utils.html' as utils with context %}

<h2>Command permissions for {{ room.title }}</h2>
{% if rs %}
  <div class="ladder">
    <table>
      <thead>
        <tr>
          <th>Permission</th>
          <th>Required rank</th>
        </tr>
      </thead>
      <tbody>
        {% for permission, row in rs %}
          <tr>
            <td>{{ permission }}</td>
            <td style="width: 1px; white-space: nowrap">
              {% set cmd = "setpermission " + room.roomid + ", " + permission + ", " + current_page|string + ", " %}
              {% call utils.btn_sendpm(cmd + "default", row == None) %}
                default
              {% endcall %}
              {% for role, role_symbol in [
                ("voice", "+"),
                ("driver", "%"),
                ("mod", "@"),
                ("owner", "#"),
                ("admin", "&"),
                ("disabled", "disabled"),
              ] %}
                {% call utils.btn_sendpm(cmd + role, row and row.required_rank == role) %}
                  {{ role_symbol }}
                {% endcall %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ utils.pagination("permissions") }}
{% else %}
  No results found
{% endif %}
