{% macro btn_sendpm(cmd) %}
  <button
    class="button"
    name="send"
    value="/pm {{ botname }}, {{ cmd_char }}{{ cmd }}"
  >
    {{ caller() }}
  </button>
{% endmacro %}

{% macro pagination(cmd, main_room_only=False) %}
  {% for i in range(last_page) %}
    {% if main_room_only %}
      {% set cmd_params = (i + 1)|string %}
    {% else %}
      {% set cmd_params = room.roomid + ", " + (i + 1)|string %}
    {% endif %}
    <button
      class="option{% if current_page == i + 1 %} sel{% endif %}"
      name="send"
      value="/pm {{ botname }}, {{ cmd_char }}{{ cmd }} {{ cmd_params }}"
      {% if current_page == i + 1 %}disabled{% endif %}
    >
      {{ i + 1 }}
    </button>
  {% endfor %}
{% endmacro %}
