{% macro btn_sendpm(cmd) %}
  <button
    class="button"
    name="send"
    value="/pm {{ botname }}, {{ cmd_char }}{{ cmd }}"
  >
    {{ caller() }}
  </button>
{% endmacro %}

{% macro pagination(cmd) %}
  {% for i in range(last_page) %}
    <button
      class="option{% if current_page == i + 1 %} sel{% endif %}"
      name="send"
      value="/pm {{ botname }}, {{ cmd_char }}changepage {{ cmd }}, {{ room.roomid }}, {{ (i + 1)|string }}"
      {% if current_page == i + 1 %}disabled{% endif %}
    >
      {{ i + 1 }}
    </button>
  {% endfor %}
{% endmacro %}
