{% for method in results.methods.values()|sort %}
  <details>
    <summary>
      <b><big>{{ method.method.prose }}</big></b>
    </summary>
    <table style="margin: 5px 0">
      <tbody>
        <tr>
          <th>Move</th>
          {% if method.method.id == 1 %}
            <th>Level</th>
          {% elif method.method.id == 4 %}
            <th>Machine</th>
          {% endif %}
          {% if method.form_column %}
            <th>Form</th>
          {% endif %}
        </tr>
        {% for move in method.moves.values()|sort %}
          <tr>
            <td>{{ move.move.name }}</td>
            {% if method.method.id == 1 %}
              <td style="text-align: right">{{ move.level }}</td>
            {% elif method.method.id == 4 %}
              <td>
                {% if move.machine %}
                  {{ move.machine.item.name }}
                {% endif %}
              </td>
            {% endif %}
            {% if method.form_column %}
              <td>
                {% for form in move.forms|sort %}
                  {{ form.name }}
                  {%- if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>
{% endfor %}
