{% for version in results.versions.values()|sort %}
  <details>
    <summary>
      <b><big>{{ version.version.name }}</big></b>
    </summary>
    <table>
      <tbody>
        <tr>
          <th>Location</th>
          <th>Method</th>
          <th>Level</th>
          <th colspan="2">Rarity</th>
        </tr>
        {% for slot in version.slots.values()|sort %}
          <tr>
            <td>{{ slot.location }}</td>
            <td>{{ slot.method.prose }}</td>
            <td>
              L{{ slot.min_level }}
              {%- if slot.min_level < slot.max_level -%}
                -{{ slot.max_level }}
              {% endif %}
            </td>
            <td{% if not slot.conditions %} colspan="2"{% endif %}>
              {{ slot.rarity }}%
            </td>
            {% if slot.conditions %}
              <td>
                {% for condition in slot.conditions|sort %}
                  {{ condition.prose }}
                  {%- if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>
{% endfor %}
