{% import 'htmlpages/utils.html' as utils with context %}

<h2>Quotes for {{ room.title }}</h2>
{% if rs %}
  <div class="ladder">
    <table>
      <thead>
        <tr>
          <th>Quote</th>
          <th>Date</th>
          {% if can_delete %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for row in rs %}
          <tr>
            <td>{{ row.message }}</td>
            <td>{{ row.date }}</td>
            {% if can_delete %}
              <td style="width: 1px; white-space: nowrap">
                {% set cmd = "removequoteid " + room.roomid + ", " + row.id|string + ", " + current_page|string %}
                {% call utils.btn_sendpm(cmd) %}
                  <i class="fa fa-trash"></i>
                  Delete
                {% endcall %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ utils.pagination("quotelist") }}
{% else %}
  No results found
{% endif %}
