{% import 'htmlpages/utils.html' as utils with context %}

<h2>Repeats for {{ room.title }}</h2>
{% if rs %}
  <div class="ladder">
    <table>
      <thead>
        <tr>
          <th>Phrase</th>
          <th>Interval (minutes)</th>
          <th>Expiry</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rs %}
          <tr>
            <td>
              <div>{{ row.message }}</div>
            </td>
            <td>{{ row.delta_minutes }}</td>
            <td>
              {% if row.expire_dt %}
                {{ row.expire_dt }}
              {% else %}
                Nope
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ utils.pagination("eightballanswers") }}
{% else %}
  Nessun repeat da visualizzare
{% endif %}
