{% extends "layout.html" %}

{% block content %}

  <a href="/">&laquo; indietro</a>

  {% if utente %}

    {% if request.method == 'POST' %}
      <div class="alert alert-green">Salvato</div>
    {% endif %}

    <form action="" method="POST">

      <h3>{{ utente.nome }}</h3>

      <input type="hidden" name="id" value="{{ utente.id }}">

      {% if session.user == '#' %}
        <label for="descrizione">Descrizione</label>
        <textarea id="descrizione" name="descrizione" maxlength="200">{{ utente.descrizione }}</textarea>

        <br><br>

        <button type="submit">Salva</button>
      {% endif %}

    </form>

  {% else %}

    <div class="alert alert-orange">Utente non trovato</div>

  {% endif %}

{% endblock %}
