{% extends "layout.html" %}

{% block content %}

  <a href="/">&laquo; indietro</a>

  {% if utente %}

    {% if request.method == 'POST' %}
      <div class="alert alert-green">Salvato</div>
    {% endif %}

    <form action="" method="POST">

      <h3>{{ utente.nome }}</h3>

      <input type="hidden" name="id" value="{{ utente.id }}">

      {% if session.user == '#' %}
        <label for="descrizione">Descrizione</label>
        <textarea id="descrizione" name="descrizione" maxlength="200">{{ utente.descrizione }}</textarea>

        <br><br>

        <button type="submit">Salva</button>
      {% endif %}

    </form>

    <hr>

    <h4 style="margin: 0">Badge elite four</h4>

    <form action="" method="POST">

      <input type="hidden" name="id" value="{{ utente.id }}">

      <select name="tier" required>
        <option value="" disabled selected>Seleziona una tier</option>
        {% for row in elitefour_tiers %}
          <option value="{{ row.id }}"{% if row.userid == utente.id %} disabled{% endif %}>
            {{ row.descrizione }}
          </option>
        {% endfor %}
      </select>

      dal
      <input type="date" name="data" required value="{{ today.strftime('%Y-%m-%d') }}">

      <button type="submit">Salva</button>

    </form>

    <hr>

    <h4 style="margin: 0">Badge seasonal e IML</h4>

    <form action="" method="POST">

      <input type="hidden" name="id" value="{{ utente.id }}">

      <select name="seasonal" required>
        <option value="" disabled selected>Seleziona un torneo</option>
        {% for row in seasonals %}
          <option value="{{ row.id }}"{% if row.disabled %} disabled {% endif %}>
            Vincitore {{ row.descrizione }} {{ today.strftime('%Y') }}
          </option>
        {% endfor %}
      </select>

      <button type="submit">Salva</button>

    </form>

  {% else %}

    <div class="alert alert-orange">Utente non trovato</div>

  {% endif %}

{% endblock %}
