{% extends "layout.html" %}

{% block content %}

  <h2>Repeats di {{ room }}</h2>
  <table class="table table-expanding">
    <thead>
      <tr>
        <th>Testo</th>
        <th>Distanza (minuti)</th>
        <th>Scadenza</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rs %}
        <tr>
          <td>
            <div>{{ row.message }}</div>
          </td>
          <td>{{ row.delta_minutes }}</td>
          <td>
            {% if row.expire_dt %}
              {{ row.expire_dt|format_datetime }}
            {% else %}
              Nope
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
